body {
    background-color: #c0a6d8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
}
h1{
    color: rgb(1, 2, 2);
    font-size: large;
    text-align: center;
}
h2{
   color: darkslategray;
   font-size: medium;
   font-weight: bold;
}
h3{
    color: darkgoldenrod;
    font-size: small;
    text-align: right;
}
img{
    display: block;
    margin: 0 auto;
}
div {
    width: 33.3%;
    height: 100px;
    background-color: rgb(179, 41, 41);
    float: left;
}

#derecho{
    float: left;
}
#izquierdo{
    float: right;
}